<configuration>
    <appSettings>
        <add key="connectionString" value="Data Source=FlashcardsDB.db"/>
        <add key="stackCsv" value="C:\Users\iandz\OneDrive\Desktop\Projects\C#Academy\Flashcards\Flashcards\stacks.csv"/>
        <add key="cardCsv" value="C:\Users\iandz\OneDrive\Desktop\Projects\C#Academy\Flashcards\Flashcards\cards.csv"/>
    </appSettings>
</configuration>